body{
    background-color: #1a1a1a;
}

.main_title{
    color: #d4d4d4;
    font-size: 48px;
    font-family: georgia,garamond,'Times New Roman';
}
.recipe_titles,.recipe_links{
    font-size: 18px;
    color: #ffffff;
    text-decoration: none;
    font-family: arial,verdana,helvetica;
}
.recipe_list{
    margin-bottom: 15px;
}